<section id="services" class="services">
    <h2 class="offscreen">Services</h2>
    <div class="services__container">
      <ul>
        <li>
          <svg class="icon icon-planning" height="64" viewBox="0 0 768 768" width="64">
            <use xlink:href="#icon-planning"></use>
          </svg>
          <h3>Planning</h3>
        </li>
        <li>
          <svg class="icon icon-design" height="64" viewBox="0 0 768 768" width="64">
            <use xlink:href="#icon-design"></use>
          </svg>
          <h3>Design</h3>
        </li>
        <li>
          <svg class="icon icon-devops" height="64" viewBox="0 0 768 768" width="64">
            <use xlink:href="#icon-devops"></use>
          </svg>
          <h3>DevOps</h3>
        </li>
        <li>
          <svg class="icon icon-growth" height="64" viewBox="0 0 768 768" width="64">
            <use xlink:href="#icon-growth"></use>
          </svg>
          <h3>Growth</h3>
        </li>
      </ul>
    </div>
  </section>
